{% extends "layouts/base.twig" %}

{% block layout 'contact' %}

{% block content %}

    {% set location = post.get_field('lieu') %}

    <h2>{{post.title}}</h2>

    <p>Google Map: {{location.address}}, {{location.lat}}, {{location.lng}}</p>


    <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB3MiM4fMK-lZVFQ6oEL5Tgy81oALGHTMQ&q=&center=" allowfullscreen></iframe>-->

    <p>{{post.content}}</p>

{% endblock %}